.selectWrap {
    position: relative;
    width: 200px;
}

.selectContainer {
    border: 1px solid #ccc;
    padding: 8px;
    cursor: pointer;
}

.selectInput {
    input {
        width: 100%;
        border: none;
        outline: none;
    }
}

.selectDropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    background-color: white;
    z-index: 1;
}

.selectDropdownItem {
    padding: 8px;
    cursor: pointer;

    &:hover {
        background-color: #f0f0f0;
    }
}